<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.InventarioEquiposConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=InventarioEquipos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.CadenaLocalDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=InventarioEquipos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>